.AddNote {
    color: #dedede;
  }
  
  .AddNote h2 {
    margin-left: 16px;
  }
  
  .AddNote__form {
    position: relative;
    color: white;
  }
  
  .AddNote__form {
    --note-height: 295px;
    max-width: 380px;
    background-color: rgba(1, 1, 37, 0.781);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
  }
  
  .AddNote__form label {
    text-align: center;
    display: block;
    font-family: var(--custom-font);
    margin: 0;
    max-width: 80%;
    min-height: 24px;
  }
  
  .AddNote__form input,
  .AddNote__form textarea,
  .AddNote__form select {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
  }